<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1>{{product.name}}
    </div>
  </div>

  <div class="row">

    <div class="col-md-9">
      <div class="widget">
        <h2>product details</h2>
        <p>
          name: {{product.name}}
        </p>
        <p>
          desc: {{product.description}}
        </p>
        <p>
          price: {{product.price | currency}}
        </p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="widget">
        <h2>Recent Orders</h2>
        <ul>
          <li ng-repeat="order in product._orders">
              <a ng-href="/#/customers/{{order._customer._id}}">{{order._customer.username}}</a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>