<div class="container-fluid">
  <div class="row">

    <div class="col-md-3">
      <div products-filter></div>
    </div>

    <div class="col-md-9">

      <div class="widget">
        <table class="table">
          <thead>
            <tr>
              <th>
                Name
              </th>
              <th>
                Description
              </th>
              <th>
                Price
              </th>
            </tr>
          </thead>
          <tr ng-repeat="product in products">
            <td>
              <a ng-href="/#/products/{{product._id}}" ng-bind-html="product.name | highlight:searchString"></a>
            </td>
            <td ng-bind-html="product.description | highlight:searchString">
            </td>
            <td>
              {{product.price | currency}}
            </td>
          </tr>
        </table>
      </div>

    </div>
  </div>
</div>