<div class="container-fluid">
  <div class="row">

    <div class="col-md-3">
      <div products-filter></div>
    </div>

    <div class="col-md-9">

      <div class="widget">
        <h1>Products</h1>
        <table class="table">
          <thead>
            <tr>
              <th>
                <a href="javascript:;" ng-click="toggleSort('name')">
                  Name 
                  <span ng-show="showUpCaret('name')">&#9650;</span>
                  <span ng-show="showDownCaret('name')"> &#9660;</span>
                </a>
              </th>
              <th>
                Description
              </th>
              <th>
                <a href="javascript:;" ng-click="toggleSort('price')">
                  Price 
                  <span ng-show="showUpCaret('price')">&#9650;</span>
                  <span ng-show="showDownCaret('price')"> &#9660;</span>
                </a>
              </th>
            </tr>
          </thead>
          <tr ng-repeat="product in products | orderBy:sortField:sortReverse">
            <td>
              <a ng-href="/#/products/{{product._id}}" ng-bind-html="product.name | highlight:searchString"></a>
            </td>
            <td ng-bind-html="product.description | highlight:searchString">
            </td>
            <td>
              {{product.price | currency}}
            </td>
          </tr>
        </table>
      </div>

    </div>
  </div>
</div>