.navbar {
  border-radius: 0px;
}

.widget {
  border-radius: 8px;
  background-color: white;
  padding: 20px;
}

body {
  background-color: #eee;
}

span.highlighted {
  background: yellow;
}

.scroll-table {

  max-height: 300px;
  overflow: scroll;
}

.dashboard-widget {
  height: 400px;
  margin-bottom: 40px;
}

.date-col {
  min-width: 100px;
}

.prod-name-col {
  min-width: 190px;
}

.price-col {
  min-width: 70px;
}