<div class="widget">
  <table class="table">
    <thead>
      <tr>
        <th>
          Username
        </th>
        <th>
          Email
        </th>
        <th>
          Full Name
        </th>
        <th>
          Created At
        </th>
      </tr>
    </thead>
    <tr ng-repeat="customer in customers">
      <td>
        <a ng-href="/#/customers/{{customer._id}}">{{customer.username}}</a>
      </td>
      <td>
        {{customer.email}}
      </td>
      <td>
        {{customer.firstname}} {{customer.lastname}}
      </td>
      <td>
        {{customer.createdAt | date}}
      </td>
    </tr>
  </table>
</div>