

<div class="container-fluid">
  <div class="row">

    <div class="col-md-3">
      <div orders-filter></div>
    </div>

    <div class="col-md-9">

      <div class="widget">
        <table class="table">
          <thead>
            <tr>
              <th>
                Order Id
              </th>
              <th>
                Order Date
              </th>
              <th>
                Status
              </th>
              <th>
                Product
              </th>
              <th>
                Customer
              </th>
              <th>
                Quantity
              </th>
              <th>
                Unit Price
              </th>
              <th>
                Total
              </th>
            </tr>
          </thead>
          <tr ng-repeat="order in orders">
            <td>
              <a ng-href="/#/orders/{{order._id}}">{{order.orderNumber}}</a>
            </td>
            <td>
              {{order.createdAt | date}}
            </td>
            <td>
              <span class="label label-{{order.statusLabel}}">{{order.status}}</span>
            </td>
            <td>
              <a ng-href="/#/products/{{order._product._id}}" 
                ng-bind-html="order._product.name | highlight:searchString">
              </a>
            </td>
            <td>
              <a ng-href="/#/customers/{{order._customer._id}}" 
                ng-bind-html="order.customerDisplay | highlight:searchString">
              </a>
            </td>
            <td>
              {{order.quantity}}
            </td>
            <td>
              {{order._product.price | currency}}
            </td>
            <td>
              {{order.total | currency}}
            </td>
          </tr>
        </table>
      </div>

    </div>
  </div>
</div>