

<div class="container-fluid">
  <div class="row">

    <div class="col-md-3">
      <div orders-filter></div>
    </div>

    <div class="col-md-9">

      <div class="widget">
        <h1>Orders</h1>
        <table class="table">
          <thead>
            <tr>
              <th>
                <a href="javascript:;" ng-click="toggleSort('orderNumber')">
                  Order Id
                  <span ng-show="showUpCaret('orderNumber')">&#9650;</span>
                  <span ng-show="showDownCaret('orderNumber')"> &#9660;</span>
                </a>
              </th>
              <th>
                <a href="javascript:;" ng-click="toggleSort('createdAt')">
                  Order Date
                  <span ng-show="showUpCaret('createdAt')">&#9650;</span>
                  <span ng-show="showDownCaret('createdAt')"> &#9660;</span>
                </a>
              </th>
              <th>
                <a href="javascript:;" ng-click="toggleSort('status')">
                  Status
                  <span ng-show="showUpCaret('status')">&#9650;</span>
                  <span ng-show="showDownCaret('status')"> &#9660;</span>
                </a>
              </th>
              <th>
                <a href="javascript:;" ng-click="toggleSort('_product.name')">
                  Product
                  <span ng-show="showUpCaret('_product.name')">&#9650;</span>
                  <span ng-show="showDownCaret('_product.name')"> &#9660;</span>
                </a>
              </th>
              <th>
                <a href="javascript:;" ng-click="toggleSort('_customer.username')">
                  Customer
                  <span ng-show="showUpCaret('_customer.username')">&#9650;</span>
                  <span ng-show="showDownCaret('_customer.username')"> &#9660;</span>
                </a>
              </th>
              <th>
                <a href="javascript:;" ng-click="toggleSort('quantity')">
                  Quantity
                  <span ng-show="showUpCaret('quantity')">&#9650;</span>
                  <span ng-show="showDownCaret('quantity')"> &#9660;</span>
                </a>
              </th>
              <th>
                <a href="javascript:;" ng-click="toggleSort('_product.price')">
                  Unit Price
                  <span ng-show="showUpCaret('_product.price')">&#9650;</span>
                  <span ng-show="showDownCaret('_product.price')"> &#9660;</span>
                </a>
              </th>
              <th>
                <a href="javascript:;" ng-click="toggleSort('total')">
                  Total
                  <span ng-show="showUpCaret('total')">&#9650;</span>
                  <span ng-show="showDownCaret('total')"> &#9660;</span>
                </a>
              </th>
            </tr>
          </thead>
          <tr ng-repeat="order in orders | orderBy:sortField:sortReverse">
            <td>
              <a ng-href="/#/orders/{{order._id}}">{{order.orderNumber}}</a>
            </td>
            <td>
              {{order.createdAt | date}}
            </td>
            <td>
              <span class="label label-{{order.statusLabel}}">{{order.status}}</span>
            </td>
            <td>
              <a ng-href="/#/products/{{order._product._id}}" 
                ng-bind-html="order._product.name | highlight:searchString">
              </a>
            </td>
            <td>
              <a ng-href="/#/customers/{{order._customer._id}}" 
                ng-bind-html="order.customerDisplay | highlight:searchString">
              </a>
            </td>
            <td>
              {{order.quantity}}
            </td>
            <td>
              {{order._product.price | currency}}
            </td>
            <td>
              {{order.total | currency}}
            </td>
          </tr>
        </table>
      </div>

    </div>
  </div>
</div>