

<div class="container-fluid">
  <div class="row">

    <div class="col-md-3">
      <div orders-filter></div>
    </div>

    <div class="col-md-9">

      <div class="widget">
        <h1>Orders</h1>
        <table class="table">
          <thead>
            <tr>
              <th>
                <div sort-link field="orderNumber" label="Order Id"></div>
              </th>
              <th>
                <div sort-link field="createdAt" label="Order Date"></div>
              </th>
              <th>
                <div sort-link field="status" label="Status"></div>
              </th>
              <th>
                <div sort-link field="_product.name" label="Product"></div>
              </th>
              <th>
                <div sort-link field="_customer.username" label="Customer"></div>
              </th>
              <th>
                <div sort-link field="quantity" label="Quantity"></div>
              </th>
              <th>
                <div sort-link field="_product.price" label="Unit Price"></div>
              </th>
              <th>
                <div sort-link field="total" label="Total"></div>
              </th>
            </tr>
          </thead>
          <tr ng-repeat="order in orders | orderBy:sortField:sortReverse">
            <td>
              <a ng-href="/#/orders/{{order._id}}">{{order.orderNumber}}</a>
            </td>
            <td>
              {{order.createdAt | date}}
            </td>
            <td>
              <span class="label label-{{order.statusLabel}}">{{order.status}}</span>
            </td>
            <td>
              <a ng-href="/#/products/{{order._product._id}}" 
                ng-bind-html="order._product.name | highlight:searchString">
              </a>
            </td>
            <td>
              <a ng-href="/#/customers/{{order._customer._id}}" 
                ng-bind-html="order.customerDisplay | highlight:searchString">
              </a>
            </td>
            <td>
              {{order.quantity}}
            </td>
            <td>
              {{order._product.price | currency}}
            </td>
            <td>
              {{order.total | currency}}
            </td>
          </tr>
        </table>
      </div>

    </div>
  </div>
</div>