
<div class="widget">
  <form>
    <div class="form-group">
      <label>Search</label>
      <input type="text" placeholder="search" ng-model="searchString" ng-change="search()" class="form-control">
    </div>
    <div class="form-group">
      <label>Status</label>

      <select class="form-control" ng-model="statusFilter" ng-change="search()">
        <option>All</option>
        <option>Complete</option>
        <option>In Progress</option>
        <option>Canceled</option>
      </select>
    </div>

    <div class="form-group">
      <label>Min Order Total</label>
      <div class="input-group">
        <div class="input-group-addon">$</div>
        <input type="text" placeholder="min" ng-model="minTotal" ng-change="search()" class="form-control">
      </div>  
    </div>
    <div class="form-group">
      <label>Max Order Total</label>
      <div class="input-group">
        <div class="input-group-addon">$</div>
        <input type="text" placeholder="max" ng-model="maxTotal" ng-change="search()" class="form-control">
      </div>
    </div>

  </form>
</div>