<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="widget">
        <h1>Order deets</h1>

        <p>
          id: {{order._id}}
        </p>
        <p>
          date: {{order.createdAt | date}}
        </p>
        <p>
          status: <span class="label label-{{order.statusLabel}}">{{order.status}}</span>
        </p>
        <p>
          product: <a ng-href="/#/products/{{order._product._id}}">{{order._product.name}}</a>
        </p>
        <p>
          orderer: {{order._customer.username}} ({{order._customer.email}})
        </p>
        <p>
          quantity: {{order.quantity}}
        </p>
        <p>
          unit price: {{order._product.price | currency}}
        </p>
        <p>
          total: {{order.quantity * order._product.price | currency}}
        </p>
        <p>
          <a ng-href="/#/customers/{{order._customer._id}}">{{order._customer.username}} ({{order._customer.email}})</a>
        </p>
      </div>

          </div>
        </div>
      </div>