<div class="container-fluid">

  <div class="row">

    <div class="col-md-3">
      <div customers-filter></div>
    </div>

    <div class="col-md-9">

      <div class="widget">
        <h1>Customers</h1>
        <table class="table">
          <thead>
            <tr>
              <th>
                <div sort-link field="username" label="Username"></div>
              </th>
              <th>
                <div sort-link field="email" label="Email"></div>
              </th>
              <th>
                <div sort-link field="fullName" label="Full Name"></div>
              </th>
              <th>
                <div sort-link field="createdAt" label="Created At"></div>
              </th>
            </tr>
          </thead>
          <tr ng-repeat="customer in customers | orderBy:sortField:sortReverse ">
            <td>
              <a ng-href="/#/customers/{{customer._id}}"  ng-bind-html="customer.username | highlight:searchString"></a>
            </td>
            <td ng-bind-html="customer.email | highlight:searchString">
            </td>
            <td ng-bind-html="customer.fullName | highlight:searchString">
            </td>
            <td>
              {{customer.createdAt | date}}
            </td>
          </tr>
        </table>
      </div>

    </div>
  </div>
</div>