<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>{{customer.username}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="widget">
        <h2>Customer Details</h2>

        <h4>Email<br /><small>{{customer.email}}</small></h4>

        <h4>Name<br /><small>{{customer.firstname}} {{customer.lastname}}</small></h4>

        <h4>Signed Up<br /><small>{{customer.createdAt | date}}</small></h4>

      </div>
    </div>
    <div class="col-md-8">

      <div class="widget">
        <h2>Order History</h2>
        <ul>
          <table class="table">
            <thead>
              <tr>
                <th>Order Id</th>
                <th>Status</th>
                <th>Date</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="order in customer._orders">
                <td><a ng-href="/#/orders/{{order._id}}">{{order.orderNumber}}</a></td>
                <td><span class="label label-{{order.statusLabel}}">{{order.status}}</span></td>
                <td>{{order.createdAt | date}}</td>
                <td>{{order.quantity * order._product.price | currency}}</td>
              </tr>
            </tbody>
          </table>
        </ul>
      </div>

    </div>
  </div>
</div>